
.content {
  height: 93.2vh;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.router-link-active {
  color:#ccc01a;
  text-decoration: underline;
  font-weight: bold;
}
.toolbar-menu-link {
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.toolbar-menu-link:hover {
  transition: color 0.2s ease-in-out;
  color:#002984;
}
.mat-list {
 
  overflow: auto;
  outline: 0;
}
.mat-list-item {
  min-height: 90px;
}
.mat-list-icon {
    vertical-align: middle;
}
div.mat-list-text {
    padding-left: 6px !important;
}
.floatIcon {
    vertical-align: middle;
}
.unRead {
  background-color: cornflowerblue;
}
.full-width {
    width:100%;
}
.example-spacer {
  flex: 1 1 auto;
}
.breakRequestList {
  max-height: 200px;
  width:400px;
}
.notificationList {
  width:400px;
}

.smallSize {
  height: 400px;
}
.mat-divider {
  border-top-color: #11a9ff;
  border-top-width: 2px;
}
.notificationList {
  height:700px;
}
