<div style="height: 100vh;">
    <!-- Tool Bar -->
    <mat-toolbar>
            <span id="nav-header" *ngIf="user" >Karō Stop</span>
            <span class="example-spacer"></span>
            <!-- Notification box -->
            <button mat-icon-button (click)="toggleSideNav()" *ngIf="isLoggedIn()" >
                <mat-icon [matBadgeHidden]="unreadNotification == 0" [matBadge]="unreadNotification" matBadgeSize="small" matBadgeColor="warn">notifications</mat-icon>
            </button>
            <button mat-icon-button routerLinkActive="router-link-active" *ngIf="isLoggedIn() && user && user.is_staff" [routerLink]="['manager/dashboard']" >
                <mat-icon>dashboard</mat-icon>
            </button>   
            <button mat-icon-button routerLinkActive="router-link-active" *ngIf="isLoggedIn() && user && user.is_staff" [routerLink]="['manager/employeelist']">
                <mat-icon>people</mat-icon>
            </button>
            <button mat-icon-button *ngIf="isLoggedIn()">
                <mat-icon>person</mat-icon>
            </button>
            <span *ngIf="isLoggedIn() && user" > {{user.first_name}} {{user.last_name}}</span>
            <button mat-icon-button (click)="logout()" *ngIf="isLoggedIn()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
    </mat-toolbar>
    <!-- Side Nav Content -->
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav mode="over" #sidenav position="end">
            <!-- Break Request content -->
            <!-- Only visible and accessible by Manager -->
            <mat-list dense class="breakRequestList" *ngIf="isLoggedIn() && user && user.is_staff">
                <div mat-subheader>Break Request</div>
                <mat-list-item *ngFor="let req of breakRequests" >
                    <mat-icon mat-list-icon>free_breakfast</mat-icon>
                    <div mat-line style="word-wrap: break-word;white-space: pre-wrap;">
                    <span style="font-size: 14px; display: inline-block;">{{ req.employee_first_name +' '+ req.employee_last_name }} would like to have a break</span> 
                    </div>
                    <div mat-line><b>Last Breaktime : {{ req.employee_last_break_time | date:'mediumTime' }}</b></div>
                    <div mat-line>{{ req.time | date:'medium' }}</div>
                    <div mat-line>    
                        <button class="btn btn-success m-2" mat-raised-button (click)="answerBreakRequest(req.id,true)" [disabled]="req.is_denied || req.is_accepted"> 
                            Accept
                            <i class="material-icons icon">done</i>
                        </button>
                        <button class="btn btn-danger m-2" mat-raised-button (click)="answerBreakRequest(req.id,false)" [disabled]="req.is_denied || req.is_accepted"> 
                            Deny
                            <i class="material-icons icon">close</i>
                        </button>
                    </div>
                </mat-list-item>
            </mat-list>
            <!-- Notification content -->
            <mat-list dense class="notificationList" [ngClass]="{smallSize: (user && user.is_staff)}">
                <div mat-subheader>Notifications</div>      
                <mat-list-item *ngFor="let notif of notifications" [ngClass]="{unRead: !notif.is_read}">
                    <mat-icon mat-list-icon>announcement</mat-icon>
                    <div mat-line style="word-wrap: break-word;white-space: pre-wrap;">
                    <span style="font-size: 14px; display: inline-block;">{{ notif.text }}</span> 
                    </div>
                    <div mat-line><b>{{ notif.sender }}</b></div>
                    <div mat-line>{{ notif.time | date:'medium' }}</div>
                    
                </mat-list-item>
            </mat-list>

        </mat-sidenav>
        
        <mat-sidenav-content class="content" >
            <!-- Content -->
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

