.avatar {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
.cards {
  width: 100%;
  height: 95%;
  margin: 20px 0px 20px 20px;
}

.box {
  width: 100%;
}
mat-card {
 
  
  box-shadow: 0px 0px 5px #666;
}

i.icon {
  vertical-align: middle;
}
.fatLevel {
  vertical-align: middle;
}