<div style="width: 95%;">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile colspan=1 rowspan=5 >
            <mat-card class="cards">
                <mat-card-header>
                    <img class="avatar" mat-card-avatar src="https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png" alt="Avatar">
                    <mat-card-title>{{employeeData?.user.first_name}} {{employeeData?.user.last_name}}</mat-card-title>
                    <mat-card-subtitle>{{employeeData?.position}}</mat-card-subtitle>
                </mat-card-header>
                <mat-divider class="mt-2"></mat-divider>
                <mat-card-content >
                    <mat-list >
                        <mat-list-item role="listitem">Work Time Passed : {{ employeeData?.time_at_work * 1000 | date:'HH:mm:ss' : 'UTC'}}</mat-list-item>

                        <mat-list-item role="listitem">Fatigue Level:  
                            <div style="display: flex;">
                                <h2 class="text-center fatLevel" style="color:#50b432;"
                                    *ngIf="( employeeData?.fatigue_threshold < 1 ) && ( employeeData?.fatigue_threshold > 0 || employeeData?.fatigue_threshold == 0 )">
                                    Excellent {{employeeData?.fatigue_threshold | number:'1.2-2'}}
                                </h2>
                                <h2 class="text-center fatLevel" style="color:#91ec0f;"
                                    *ngIf="( employeeData?.fatigue_threshold < 2 ) && ( employeeData?.fatigue_threshold >= 1)">
                                    Fine {{employeeData?.fatigue_threshold | number:'1.2-2'}}
                                </h2>
                                <h2 class="text-center fatLevel" style="color:#e0e15c;"
                                    *ngIf="( employeeData?.fatigue_threshold < 3 ) && ( employeeData?.fatigue_threshold >= 2)">
                                    Slightly Fatigued {{employeeData?.fatigue_threshold | number:'1.2-2'}}
                                </h2>
                                <h2 class="text-center fatLevel" style="color:#e5b604;"
                                    *ngIf="( employeeData?.fatigue_threshold < 4 ) && ( employeeData?.fatigue_threshold >= 3)">
                                    Moderately Fatigued {{employeeData?.fatigue_threshold | number:'1.2-2'}}
                                </h2>
                                <h2 class="text-center fatLevel" style="color:#ee3804;" *ngIf="employeeData?.fatigue_threshold >= 4">
                                    Highly Fatigued {{employeeData?.fatigue_threshold | number:'1.2-2'}}
                                </h2>
                            </div>
                        </mat-list-item>
                    </mat-list>
                    <mat-card-subtitle >Last Updated : {{lastUpdateTime  |  date:'short'}}</mat-card-subtitle>
                </mat-card-content>
                <button class="btn btn-default goBackBtn btn-warning center-block" 
                    cdkFocusInitial mat-button 
                    [routerLink]="['../../employeelist']">
                    Go back 
                    <i class="material-icons icon">people</i>
                </button>
            </mat-card>
            
        </mat-grid-tile>
        <mat-grid-tile colspan=3 rowspan=3 >
            <mat-card class="cards">
                <mat-card-header>
                    <h2><i class="material-icons icon">info</i>Personal Information</h2>    
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item role="listitem">Date of Birth : {{employeeData?.dob}}</mat-list-item>
                        <mat-list-item role="listitem">Department : {{employeeData?.department}}</mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan=3 rowspan=2>
            <mat-card class="cards">
                <mat-card-header>
                    <h2><i class="material-icons icon">contacts</i>Contact Information</h2>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item role="listitem">Email : {{employeeData?.user.email}}</mat-list-item>
                        <mat-list-item role="listitem">Phone : {{employeeData?.phone_number}}</mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        
    </mat-grid-list>
   
</div>

