<div class="container">

    <mat-card class="login-card" style="text-align: center;">
  
      <mat-card-title>Karō Stop</mat-card-title>
      <mat-divider></mat-divider>

      <mat-card-content class="p-2" *ngIf="!emailValid">
                <!-- Form to input Email -->
              <form style="text-align: center;" [formGroup]="form" (submit)="submit()" >
                <label>Enter an email to reset the account's password to :</label>         
                  <mat-form-field >
                      <input #emailForm [type]="email" matInput formControlName="email" placeholder="Enter email">
                      <mat-error *ngFor="let validation of validation_messages.email">
                        <mat-error class="error-message"
                        *ngIf="form.get('email').hasError(validation.type) &&
                        (form.get('email').dirty ||
                        form.get('email').touched)">{{validation.message}}</mat-error>
                      </mat-error>
                  </mat-form-field>
                </form>
                              
                      <mat-divider></mat-divider>
                      <div mat-dialog-actions class="pt-3">
                          <!-- Button to go back to the login page -->
                          <button class="btn btn-default goBackBtn btn-danger center-block" 
                              cdkFocusInitial mat-button 
                              (click)="goBack()">
                              Go back <i class="material-icons icon">login</i>
                          </button>
                          <!-- Button to submit the email -->
                          <button mat-raised-button class="btn submitBtn btn-default btn-success center-block" 
                              cdkFocusInitial mat-button 
                              type="submit" (click)="submit()" 
                              [disabled]="!form.valid ">
                              Send Reset Link <i class="material-icons icon">send</i>
                          </button>
                      </div>
                      <!-- Error Notification -->
                        <mat-error *ngIf="error">
                             <div class="alert alert-danger mt-2" role="alert">
                                <div class="vertical-align">
                                    <i class="material-icons icon">error</i>
                                    <strong>The submitted email does not exist!</strong>
                                </div>
                            </div>
                        </mat-error>
      </mat-card-content>

        <!-- Show if email has been submitted and is valid -->
          <mat-card-content class="p-2" *ngIf="emailSubmitted && emailValid">
              <i class="material-icons icon successIcon p-2">
                  check_circle_outline
              </i>
              <p>
                  A mail with the password reset link has been sent to your email.
                  You may close this tab or go back to the login page.
              </p>
              <mat-divider></mat-divider>
              <div mat-dialog-actions class="pt-3">
                  <button class="btn btn-default goBackBtn btn-warning center-block" 
                      cdkFocusInitial mat-button 
                      (click)="goBack()">
                      Go back <i class="material-icons icon">login</i>
                  </button>
              </div>
          </mat-card-content>
    
   </mat-card>
</div>