

<div class="container" >
    <div class="row">
        <div class="col-12">
            <mat-card class="dashboard-card-top ">
                <mat-card-header>
                    <mat-card-title><mat-icon>people_outline</mat-icon>Employees at work</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <!-- Toggle Group -->
                        <mat-button-toggle-group #group="matButtonToggleGroup" value="1" class="mt-2">

                            <!-- Card Toggler -->
                            <mat-button-toggle value="1" aria-label="View as card" matTooltip="View as cards">
                                <mat-icon>view_module</mat-icon>
                            </mat-button-toggle>

                            <!-- List toggler -->
                            <mat-button-toggle value="2" aria-label="View as list" matTooltip="View as list">
                                <mat-icon>list</mat-icon>
                            </mat-button-toggle>

                        </mat-button-toggle-group>
                        <mat-card-subtitle class="p-2">Last Updated : {{lastEmployeeListUpdateTime  |  date:'short'}}</mat-card-subtitle>
                </mat-card-content>
        </mat-card>
        </div>

    </div>
</div>
<div class="container" *ngIf="group.value == 1">
    <!-- Card -->
    <div class="row">
        <div class="col" id="card-container">
            <!-- Click method to be implemented -->
            <mat-card class="empCard" *ngFor="let employee of employeeData">
                <mat-card-header>
                    <img mat-card-avatar src="https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png"
                        class="card-image ">
                    <mat-card-title> {{employee.user.first_name}} {{employee.user.last_name}} </mat-card-title>
                    <mat-card-subtitle> {{employee.position}} </mat-card-subtitle>
                    <!-- Fatigue Level -->
                </mat-card-header>
                <mat-card-content style="display: flex;">
                    <!-- To be implemented with whatever number comes from the backend -->
                    <div>
                        <h2>Fatigue Level : </h2>
                    </div>
                    <div>
                        <h2 class="text-center" style="color:#50b432;"
                            *ngIf="( employee.fatigue_threshold < 1 ) && ( employee.fatigue_threshold > 0 || employee.fatigue_threshold == 0 )">
                            Excellent {{employee.fatigue_threshold | number:'1.2-2'}}
                        </h2>
                        <h2 class="text-center" style="color:#91ec0f;"
                            *ngIf="( employee.fatigue_threshold < 2 ) && ( employee.fatigue_threshold >= 1)">
                            Fine {{employee.fatigue_threshold | number:'1.2-2'}}
                        </h2>
                        <h2 class="text-center" style="color:#e0e15c;"
                            *ngIf="( employee.fatigue_threshold < 3 ) && ( employee.fatigue_threshold >= 2)">
                            Slightly Fatigued {{employee.fatigue_threshold | number:'1.2-2'}}
                        </h2>
                        <h2 class="text-center" style="color:#e5b604;"
                            *ngIf="( employee.fatigue_threshold < 4 ) && ( employee.fatigue_threshold >= 3)">
                            Moderately Fatigued {{employee.fatigue_threshold | number:'1.2-2'}}
                        </h2>
                        <h2 class="text-center" style="color:#ee3804;" *ngIf="employee.fatigue_threshold >= 4">
                            Highly Fatigued {{employee.fatigue_threshold | number:'1.2-2'}}
                        </h2>
                    </div>

                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions class="action-card">
                    <div class="action-card-content-1">
                        <button mat-button
                                #tooltip="matTooltip" 
                                matTooltip="View {{employee.user.first_name}}'s Information Detail"
                                (click)="routeToEmployeeInfo(employee.id)">
                            View Details
                        </button>
                    </div>
                    <div class="action-card-content-2">
                        <button mat-mini-fab color="primary" 
                                aria-label="Icon button with edit icon"
                                #tooltip="matTooltip" 
                                matTooltip="Edit {{employee.user.first_name}}'s Information"
                                (click)="routeToEditEmployeeInfo()">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <mat-paginator  [length]="employeeData.length" 
                    [pageSize]="6" 
                    [pageSizeOptions]="[6, 12, 36, 96]">
    </mat-paginator>
</div>

<div class="container" *ngIf="group.value == 2">
    <!-- List -->
    <div class="row justify-content-center">
        <div class="col">
            <table mat-table [dataSource]="employeeData" class="mat-elevation-z8" style="width: 100%;">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let employee">{{employee.user.first_name}} {{employee.user.last_name}}</td>
                </ng-container>
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> Position </th>
                    <td mat-cell *matCellDef="let employee"> {{employee.position}} </td>
                </ng-container>
                <ng-container matColumnDef="fatigueLevel">
                    <th mat-header-cell *matHeaderCellDef> Fatigue Level </th>
                    <td mat-cell *matCellDef="let employee">
                        <div style="display: flex;">
                            
                            <h2 class="text-center" style="color:#50b432;"
                                *ngIf="( employee.fatigue_threshold < 1 ) && ( employee.fatigue_threshold > 0 || employee.fatigue_threshold == 0 )">
                                Excellent {{employee.fatigue_threshold | number:'1.2-2'}}
                            </h2>
                            <h2 class="text-center" style="color:#91ec0f;"
                                *ngIf="( employee.fatigue_threshold < 2 ) && ( employee.fatigue_threshold >= 1)">
                                Fine {{employee.fatigue_threshold | number:'1.2-2'}}
                            </h2>
                            <h2 class="text-center" style="color:#e0e15c;"
                                *ngIf="( employee.fatigue_threshold < 3 ) && ( employee.fatigue_threshold >= 2)">
                                Slightly Fatigued {{employee.fatigue_threshold | number:'1.2-2'}}
                            </h2>
                            <h2 class="text-center" style="color:#e5b604;"
                                *ngIf="( employee.fatigue_threshold < 4 ) && ( employee.fatigue_threshold >= 3)">
                                Moderately Fatigued {{employee.fatigue_threshold | number:'1.2-2'}}
                            </h2>
                            <h2 class="text-center" style="color:#ee3804;" *ngIf="employee.fatigue_threshold >= 4">
                                Highly Fatigued {{employee.fatigue_threshold | number:'1.2-2'}}
                            </h2>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let employee">
                        <button mat-button
                            #tooltip="matTooltip" matTooltip="View {{employee.user.first_name}}'s information"
                            (click)="routeToEmployeeInfo(employee.id)">
                            View
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let employee">
                        <button mat-mini-fab color="primary" aria-label="Icon button with edit icon"
                            #tooltip="matTooltip" matTooltip="Edit {{employee.user.first_name}}'s information">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <!-- click method to be input -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
        </div>
    </div>
    <mat-paginator [length]="employeeData.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>