.container {
    display: block;
}
mat-card {
    margin: 2px auto;
    flex-basis: 32%;
    
    box-shadow: 0px 0px 5px #666;
}

.col {
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-image {
    background-size: cover;
}
.table {
    margin: auto;
    width: 50% !important; 
 }

.mat-divider {
    border-top-color: #11a9ff;
    border-top-width: 2px;
  }

tr:hover {
    background: gray;
    cursor: pointer;
}

.action-card {
    display: flex;
}


.action-card-content-1 {
    flex: 3;
}

.action-card-content-2 {
    flex: 1;
}

#card-container {
    display: flex; 
    flex-wrap: wrap;
}
mat-icon {
    vertical-align: middle;
}
.dashboard-card-top {
    top: 7px;  
    left: 7px;  
    right: 7px;  
    bottom: 7px;
    box-shadow: 0px 0px 5px #666;
}