.container {
    display: block;
}

.col {
    padding-top: 15px;
    padding-top: 15px;
}
.col-6 {
    padding-top: 15px;
    padding-top: 15px;
}

mat-icon {
    vertical-align: middle;
}
.pieCard{
    min-height:400px;
    
}

.dashboard-card {
    position: absolute;  
    top: 7px;  
    left: 7px;  
    right: 7px;  
    bottom: 7px;
    box-shadow: 0px 0px 5px #666;
}
.dashboard-card-big {
    position: absolute;  
    top: 7px;  
    left: 7px;  
    right: 7px;  
    bottom: 7px;
    box-shadow: 0px 0px 5px #666;
}
.dashboard-card-top {
    top: 7px;  
    left: 7px;  
    right: 7px;  
    bottom: 7px;
    box-shadow: 0px 0px 5px #666;
}

.mat-divider {
    border-top-color: #11a9ff;
    border-top-width: 2px;
  }
#employee-status-card {
    width: 500px;
}
#notification-card {
    width: 300px;
}
#webcam-card {
    width: 900px;
}