<div class="container">
    <div class="row">
        <div class="col-4">
            <mat-card class="dashboard-card-top ">
                    <mat-card-header>
                        <mat-card-title><mat-icon>computer</mat-icon>Employees at work</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <div>
                                <h1 class="mat-display-2 text-center mb-2 mt-2"  >
                                {{employeeAtWorkAmt}} / {{totalEmployee}}
                                </h1>
                        </div>
                        <mat-card-subtitle>Last Updated : {{lastEmployeeAtWorkUpdateTime  |  date:'short'}}</mat-card-subtitle>
                    </mat-card-content>
            </mat-card>
            
            <div class="pt-3"></div>
            <mat-card class="dashboard-card-top ">
                <mat-card-header>
                    <mat-card-title><mat-icon>free_breakfast</mat-icon>Average Fatigue Level</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="pt-2">
                            <h1 class="text-center" style="color:#50b432;" 
                                *ngIf="( averageFatigue < 1 ) && ( averageFatigue > 0 || averageFatigue == 0 )">
                                Excellent {{averageFatigue | number:'1.2-2'}}
                            </h1>
                            <h1 class="text-center" style="color:#91ec0f;" 
                                *ngIf="( averageFatigue < 2 ) && ( averageFatigue >= 1)">
                                Fine {{averageFatigue | number:'1.2-2'}}
                            </h1>
                            <h1 class="text-center" style="color:#e0e15c;" 
                                *ngIf="( averageFatigue < 3 ) && ( averageFatigue >= 2)">
                                Slightly Fatigued {{averageFatigue | number:'1.2-2'}}
                            </h1>
                            <h1 class="text-center" style="color:#e5b604;" 
                                *ngIf="( averageFatigue < 4 ) && ( averageFatigue >= 3)">
                                Moderately Fatigued {{averageFatigue | number:'1.2-2'}}
                            </h1>
                            <h1 class="text-center" style="color:#ee3804;" 
                                *ngIf="averageFatigue >= 4">
                                Highly Fatigued {{averageFatigue | number:'1.2-2'}}
                            </h1>
                    </div>
                    <mat-card-subtitle>Last Updated : {{lastPieChartUpdateTime  |  date:'short'}}</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
        </div>
       
        <div class="col-8">
            <mat-card class="dashboard-card-top">
                <mat-card-content style="padding: 0!important;">
                   
                        <mat-card-header>
                            <mat-card-title><mat-icon>access_time</mat-icon> Current Time</mat-card-title>
                        </mat-card-header>
                        <mat-divider></mat-divider>
                                <!-- Current Time -->
                                <h1 class="mat-display-4 text-center pt-2">{{ currentTime * 1000 | date:'hh:mm:ss a' }}</h1>
                            </mat-card-content>
                    <!--
                    <div class="card-icon">
                        <button mat-fab color="primary" aria-label="Icon button with person icon">
                            <mat-icon>calendar_today</mat-icon>
                        </button>
                    </div>

                    <div>
                        <h1>80</h1>
                    </div>
                    <mat-card-subtitle>Hours Worked This Week</mat-card-subtitle>
                </mat-card-content>
                -->
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-card class="dashboard-card-top">
                <mat-card-header>
                    <mat-card-title><mat-icon>calendar_today</mat-icon>Weekly Average Fatigue</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div>
                        <div>
                          <div style="display: block">
                            <canvas baseChart
                              [datasets]="barChartData"
                              [labels]="barChartLabels"
                              [options]="barChartOptions"
                              [plugins]="barChartPlugins"
                              [legend]="barChartLegend"
                              [chartType]="barChartType">
                            </canvas>
                          </div>
    
                        </div>
                      </div>
                      <div>
                        <mat-card-subtitle>
                            <button class="btn btn-info m-2" (click)="categorizeFatigueRecordForBarChart()">
                                UPDATE
                            </button>
                            Last Updated : {{lastBarChartUpdateTime  |  date:'short'}}
                        </mat-card-subtitle>
                    </div>
                </mat-card-content>
                <mat-divider></mat-divider>
                <!-- Yeah you download fatigue records from here lmao-->
                <mat-card-content class="p-3">
                      <button mat-icon-button [matMenuTriggerFor]="menu" >
                        <mat-icon>cloud_download</mat-icon>Download Fatigue Records
                      </button>
                      <mat-menu #menu="matMenu" >
                        <button mat-menu-item (click)="downloadFatigueRecordCSV(false)">
                          <span>All time</span>
                        </button>
                        <button mat-menu-item (click)="downloadFatigueRecordCSV(true)">
                          <span>This Week</span>
                        </button>
                      </mat-menu>
                </mat-card-content>
            </mat-card>
        </div>
    <!--
        <div class="col">
            <mat-card class="dashboard-card-top">
                <mat-card-header>
                    <mat-card-title>Overall Time At Desk</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="flex">
                        <div class="flex-item">
                          <div style="display: block;">
                          <canvas baseChart
                                      [datasets]="lineChartData"
                                      [labels]="lineChartLabels"
                                      [options]="lineChartOptions"
                                      [colors]="lineChartColors"
                                      [legend]="lineChartLegend"
                                      [chartType]="lineChartType"
                                      [plugins]="lineChartPlugins"
                                      (chartHover)="chartHovered($event)"
                                      (chartClick)="chartClicked($event)"></canvas>
                          </div>
                        </div>
                        <div class="flex-item">
                          <table class="table table-responsive table-condensed">
                            <tr>
                              <th *ngFor="let label of lineChartLabels">{{label}}</th>
                            </tr>
                            <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
                              <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                            </tr>
                          </table>
                          <button mat-button mat-raised-button color="primary">Randomize</button>
                        </div>
                      </div>
                </mat-card-content>
            </mat-card>
        </div>
    -->
    
    
        <div class="col-6">
            <mat-card class="dashboard-card-top pieCard">
                <mat-card-header>
                    <mat-card-title><mat-icon>tag_faces</mat-icon>Current Employee Fatigue</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content >
                    <div >
                        <div >
                          <div class="chart" style="position: relative; height:20rem; width:40rem;padding-bottom: 20em;left:-60px">
                            <canvas  baseChart
                              [data]="pieChartData"
                              [labels]="pieChartLabels"
                              [chartType]="pieChartType"
                              [options]="pieChartOptions"
                              [plugins]="pieChartPlugins"
                              [colors]="pieChartColors"
                              [legend]="pieChartLegend">
                            </canvas>
                          </div>
                        </div>
                      </div>
                      <div>
                        <mat-card-subtitle>
                            <button class="btn btn-info m-2" (click)="categorizeFatigueLevelForPieChart()">
                                UPDATE
                            </button>
                            Last Updated : {{lastPieChartUpdateTime  |  date:'short'}}
                        </mat-card-subtitle>
                    </div>
                </mat-card-content>
            </mat-card>
            
        </div>
    </div>
