
  <div class="container">

      <mat-card class="login-card" style="text-align: center;">
    
        <mat-card-title>Karō Stop</mat-card-title>
        <mat-divider></mat-divider>

        <!-- Show if token is being validated from the server, show on starts up-->
        <mat-card-content class="p-2" *ngIf="validatingToken">
                <mat-spinner class="loading-indicator p-2"></mat-spinner>
                <h3>
                    Validating password reset token, please wait
                </h3>
                <mat-divider></mat-divider>
        </mat-card-content>

        <!-- Show if token is validated as invalid from the server, show after validation -->
        <mat-card-content class="p-2" *ngIf="!validToken && !validatingToken">
                <i class="material-icons icon errorIcon p-2">
                    error_outline
                </i>
                <p>
                    It looks like your password reset token is either invalid or has expired.
                    Please request a new password reset link from the login page.
                </p>
                <mat-divider></mat-divider>
                <div mat-dialog-actions class="pt-3">
                    <button class="btn btn-default goBackBtn btn-warning center-block" 
                        cdkFocusInitial mat-button 
                        (click)="goBack()">
                        Go back <i class="material-icons icon">login</i>
                    </button>
                </div>
        </mat-card-content>

        

        <!-- Show if token is validated as valid from the server, show after validation -->
        <mat-card-content class="p-2" *ngIf="validToken && !validatingToken && !isReset">
                  <!-- Form to input new passwords -->
                <form style="text-align: center;" [formGroup]="form" (submit)="submit()" >         
                    <mat-form-field >
                        <input #newPasswordForm [type]="!hide ? 'password' : 'text'" matInput formControlName="newPassword"  placeholder="Enter new password" maxlength="20">
                        <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngFor="let validation of validation_messages.newPassword">
                            <mat-error class="error-message" *ngIf="form.get('newPassword').hasError(validation.type) &&
                                    (form.get('newPassword').dirty ||
                                    form.get('newPassword').touched)">{{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                    <!-- Password Strength Indicator -->
                    <div style="margin-top: 10px; margin-bottom: 10px; width: 100%;">
                        <mat-password-strength
                                #strength
                                [password]="newPasswordForm.value"
                                [enableLengthRule]="true"
                                [enableDigitRule]="true"
                                [enableSpecialCharRule]="false"
                                [enableUpperCaseLetterRule]="true"
                                [enableLowerCaseLetterRule]="true"
                        >
                        </mat-password-strength>
                        <mat-password-strength-info
                            [passwordComponent]="strength"
                            [digitsCriteriaMsg]="'The password must contain at least 1 digit'"
                            [minCharsCriteriaMsg]="'The password must contains at least 8 characters'"
                            [upperCaseCriteriaMsg]="'The password must contains at least 1 uppercase character'"
                            [lowerCaseCriteriaMsg]="'The password must contains at least 1 lowercase character'"
                        >
                        </mat-password-strength-info>
                    </div>
                    <mat-form-field >
                        <input [type]="!hide ? 'password' : 'text'" matInput formControlName="confirmNewPassword"  placeholder="Confirm new password" maxlength="20">
                        <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngFor="let validation of validation_messages.confirmNewPassword">
                            <mat-error class="error-message" *ngIf="form.get('confirmNewPassword').hasError(validation.type) &&
                                    (form.get('confirmNewPassword').dirty ||
                                    form.get('confirmNewPassword').touched)">{{validation.message}}</mat-error>
                        </mat-error>
                        </mat-form-field>
                    </form>
                        <mat-error *ngIf="unmatchedPassword">
                            <div class="alert alert-danger" role="alert">
                                    <div class="vertical-align">
                                        <i class="material-icons floatIcon">error</i>
                                        <strong>Your current password is not correct!</strong>
                                    </div>
                                </div>
                        </mat-error>
                        
                        <mat-divider></mat-divider>
                        <div mat-dialog-actions  class="pt-3">
                            <!-- Button to go back to the login page -->
                            <button class="btn btn-default goBackBtn btn-danger center-block" 
                                cdkFocusInitial mat-button 
                                (click)="goBack()">
                                Go back <i class="material-icons icon">login</i>
                            </button>
                            <!-- Button to submit the new password -->
                            <button mat-raised-button class="btn submitBtn btn-default btn-success center-block" 
                                cdkFocusInitial mat-button 
                                type="submit" (click)="submit()" 
                                [disabled]="!form.valid || strength.strength != 100">
                                Reset <i class="material-icons icon">system_update_alt</i>
                            </button>
                        </div>
        </mat-card-content>

        <!-- Show if token is validated as invalid from the server, show after validation -->
            <mat-card-content class="p-2" *ngIf="validToken && !validatingToken && isReset">
                <i class="material-icons icon successIcon p-2">
                    check_circle_outline
                </i>
                <p>
                    Your password has successfully been resetted.
                    Please re-login from the login page.
                </p>
                <mat-divider></mat-divider>
                <div mat-dialog-actions class="pt-3">
                    <button class="btn btn-default goBackBtn btn-warning center-block" 
                        cdkFocusInitial mat-button 
                        (click)="goBack()">
                        Go back <i class="material-icons icon">login</i>
                    </button>
                </div>
            </mat-card-content>
        

      
     </mat-card>
  </div>
