
  <div class="container">
    <div *ngIf="authenticating" class="loading-indicator">
        <mat-spinner></mat-spinner>
    </div>
      <mat-card class="login-card" style="text-align: center;">
    
        <mat-card-title>Karō Stop</mat-card-title>
        <mat-divider></mat-divider>
          <form class="example-form" [formGroup]="form" (submit)="login()">
            <mat-card-content class="p-2">
              <!-- Username field -->
                <mat-form-field class="full-width">
                  <!-- <input autocomplete="off" matInput formControlName="username" placeholder="Username" required> -->
                  <input autocomplete="off" matInput formControlName="username_or_email" placeholder="Username/Email" required>
                </mat-form-field>

              <!-- Password field -->
                <mat-form-field class="full-width">
                  <input autocomplete="off" matInput type="password" [type]="!hide ? 'password' : 'text'" formControlName="password" placeholder="Password" required>
                  <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>

            </mat-card-content>
              <!-- Login Button -->
               <mat-card-actions>
                  <button color="primary" [disabled]="!form.valid" mat-raised-button >Log in <i class="material-icons icon">login</i></button>
               </mat-card-actions>
            </form>
            <!-- Error Notification -->
            <mat-error *ngIf="error">
                <div class="alert alert-danger" role="alert">
                    <div class="vertical-align">
                        <i class="material-icons icon">error</i>
                        <strong>Incorrect username/email and password!</strong>
                    </div>
                </div>
            </mat-error>
          
    <mat-divider></mat-divider>
    <!-- Reset Password Button -->
    <mat-card-content class="p-2">
      <mat-card-actions>
        Forgot your password?
          <button class="btn btn-warning" mat-raised-button [routerLink]="['../reset_password_request']"> 
            Reset Password
            <i class="material-icons icon">replay</i>
          </button>
      </mat-card-actions>
  </mat-card-content>
     </mat-card>
  </div>