
<mat-grid-list cols="6" rowHeight="8:1">
    <mat-grid-tile colspan=2 rowspan=6>
        <!--Fatigue Level Card-->
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title><mat-icon>visibility</mat-icon> Fatigue Level</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
                <mat-card-content style="padding: 0!important;height:80px!important;">
                    <!-- Fatigue Level number -->
                    <h1 class="mat-display-2 text-center mb-1">{{ FatigueThreshold | number:'1.0-1' }}</h1>
                     <!-- Fatigue Level description -->
                     <div>
                        <h1 class="mat-display-1 text-center" style="color:#50b432;" 
                            *ngIf="( FatigueThreshold < 1 ) && ( FatigueThreshold > 0 || FatigueThreshold == 0 )">
                            Excellent {{FatigueThreshold | number:'1.2-2'}}
                        </h1>
                        <h1 class="mat-display-1 text-center" style="color:#91ec0f;" 
                            *ngIf="( FatigueThreshold < 2 ) && ( FatigueThreshold >= 1)">
                            Fine {{FatigueThreshold | number:'1.2-2'}}
                        </h1>
                        <h1 class="mat-display-1 text-center" style="color:#e0e15c;" 
                            *ngIf="( FatigueThreshold < 3 ) && ( FatigueThreshold >= 2)">
                            Slightly Fatigued {{FatigueThreshold | number:'1.2-2'}}
                        </h1>
                        <h1 class="mat-display-1 text-center" style="color:#e5b604;" 
                            *ngIf="( FatigueThreshold < 4 ) && ( FatigueThreshold >= 3)">
                            Moderately Fatigued {{FatigueThreshold | number:'1.2-2'}}
                        </h1>
                        <h1 class="mat-display-1 text-center" style="color:#ee3804;" 
                            *ngIf="FatigueThreshold >= 4">
                            Highly Fatigued {{FatigueThreshold | number:'1.2-2'}}
                        </h1>
                     </div>
                </mat-card-content>
                <mat-card-actions>
                    <!-- Button to ask for break request -->
                    <span>
                    <button class="btn btn-info ml-3" (click)="askBreakRequest()" *ngIf="!onBreak && !breakPermitted" [disabled]="(FatigueThreshold <3.00) || breakRequestInReviewed ">
                        REQUEST BREAK
                    </button>
                    <button class="btn btn-info ml-3" (click)="takeBreakRequest()" *ngIf="!onBreak && !breakRequestInReviewed && breakPermitted" [disabled]="(FatigueThreshold <3.00)">
                        TAKE BREAK
                    </button>
                    <button class="btn btn-success ml-3" (click)="takeBreakRequest()" *ngIf="onBreak && breakPermitted">
                        BACK TO WORK
                    </button> 
                    <mat-card-subtitle id="lastBreakTimeIndicator">Last Break Time : {{ lastBreakTime  | date:'hh:mm:ss a' }}</mat-card-subtitle>
                    </span>  
                </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=2 [rowspan]=6>
        <!--Current Time Card-->
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title><mat-icon>access_time</mat-icon> Current Time</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
                <mat-card-content style="padding: 0!important;">
                    <!-- Current Time -->
                    <h1 class="mat-display-4 text-center pt-2">{{ currentTime * 1000 | date:'hh:mm:ss a' }}</h1>
                </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=2 [rowspan]=6>
        <!--Status Card-->
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title><mat-icon>person</mat-icon> Status</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
                <mat-card-content style="padding: 0!important;">
                                <h2 class="pt-2">Work Time Passed : {{ timeAtWork * 1000 | date:'HH:mm:ss' : 'UTC' }}</h2>
                                <h2 class="pt-2">Time at Desk : {{ timeAtDesk * 1000 | date:'HH:mm:ss' : 'UTC'}}</h2>                
                </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <!-- Hidden for now, should not be used -->
    <mat-grid-tile hidden [colspan]=1 [rowspan]=3>
       
    </mat-grid-tile>
    <mat-grid-tile [colspan]=4 [rowspan]=16 style="justify-content: center;">
        <!--Web cam Card-->
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title><mat-icon>videocam</mat-icon> Video Feed</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
                <mat-card-content class="mat-card-video-content pt-2 mb-0" style="text-align: center;">
                    <!-- Web cam feed goes here -->
                        <div style="position: relative;">
                            <video #video id="video" width="600" height="450" ></video>
                            <canvas  class="facemarkCanvas" #facemarkCanvas></canvas>
                        </div>
                    <div style="text-align: center;" class="pb-0">
                        <h3 class="webcamIndicator" *ngIf="!webcamOn && !faceDetected && ( !losingFaceTracking || losingFaceTracking )">Webcam is off</h3>
                        <h3 class="webcamIndicator" *ngIf="webcamOn && faceDetected && !losingFaceTracking">Face is detected</h3>
                        <h3 class="webcamIndicator" *ngIf="webcamOn && faceDetected && losingFaceTracking">Losing face tracking</h3>
                        <h3 class="webcamIndicator" *ngIf="webcamOn && !faceDetected && ( losingFaceTracking || !losingFaceTracking )">Face is not detected</h3>
                    </div>
                </mat-card-content>
                
                <mat-card-actions style="text-align: center;">
                    <!-- Button to start -->
                    <button class="btn btn-info ml-3" [disabled]="webcamOn || onBreak" (click)="startBlinkDetection()">
                        <mat-icon>play_arrow</mat-icon>START
                    </button>
                    <!-- Button to stop -->
                    <button class="btn btn-warning ml-3" [disabled]="!webcamOn || onBreak" (click)="stopBlinkDetection()">
                        <mat-icon>stop</mat-icon>STOP
                    </button>
                   
                </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
        <!-- Hidden for now, should not be used -->
        <mat-grid-tile hidden [colspan]=1 [rowspan]=3>
        </mat-grid-tile>
</mat-grid-list>
