.dashboard-card {
    position: absolute;  
    top: 7px;  
    left: 7px;  
    right: 7px;  
    bottom: 7px;
    box-shadow: 0px 0px 5px #666;
}
.dashboard-card-big {
    position: absolute;  
    top: 7px;  
    left: 7px;  
    right: 7px;  
    bottom: 7px;
    box-shadow: 0px 0px 5px #666;
}

mat-grid-tile {
    
}  
.mat-divider {
    border-top-color: #11a9ff;
    border-top-width: 2px;
  }
#employee-status-card {
    width: 500px;
}
#notification-card {
    width: 300px;
}
#webcam-card {
    width: 900px;
}
.videoContent {
    justify-content: center
}
.webcamIndicator{
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
  font-weight: 300;
  font-size: 2em
}
mat-icon {
    vertical-align: middle;
}
#lastBreakTimeIndicator {
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px;
}

.facemarkCanvas {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    text-align:center;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
}



  
